@page "/"
@using timeorganizer.Service
<div id="container">
	<img src="logoTO.jpg" alt="Logo TO">
	<p1> STRONA GŁOWNA MOZNA ROBIC - WSPOLNA DLA UZYTKOWNIKA ZALOGOWANEGO I NIEZALOGOWANEGO (CHYBA ZE OGARNE JAK ZROBIC ZEBY NIE BYLA WSPOLNA XD</p1>
	<h1> Docelowo strona główna dla niezalogowanego użytkownika</h1>

	<a href="login" class="button">Logowanie</a>
	<a href="register" class="button">Rejestracja</a>

</div>