#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-color: gray #f1f1f1;
}
h3 {
    color: purple;
    text-align: center;
    margin-top: 50px;
}
h1, p {
    color: blueviolet;
}
.buttongl {
    text-decoration: none; color: white;
    width: 100%;
    height: 10%;
    background-color: blueviolet;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    width: 70%;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#buttonsignup {
    background-color: #CC33FF;
}
img {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.task-tile
{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
    color: blueviolet;
}

.task-description {
    color: violet;
}

.task-details {
    margin-top: 10px;
}

.task-details p {
   
    margin-bottom: 5px;
}
.progress{
    height: 40px;
}
.progress-bar {
    background-color: aquamarine !important;
    color: black
}