@page "/login"
@using timeorganizer.Services
@using timeorganizer.Helpers
@inject LoginService login
@inject AuthServiceSetUser auth
@if (!auth.CurrentUser.Identity.IsAuthenticated)
{
	<div class="container">
		<img src="user2.png" />
		<h2> Logowanie </h2>
		<p>Podaj login</p>
		<input @bind="@login.LoginValue" />
		<p>Podaj hasło</p>
		<input @bind="@login.PassValue" type="password" />
		<button class="btn btn-primary" @onclick="@(() => login.LoginCommand.Execute(true))"> Login </button>
		<a href="/Register" class="button">Rejestracja</a>
		<a href="/" class="button">WROC</a>

	</div>

}
else
{
	<div>jestes juz zalogowany!!</div>
}

@code{


	

}