.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-color: gray #f1f1f1;
}

h1 {
    color: blueviolet;
    text-align: center;
}
h2
{
    margin-top: 25px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
}

button {
    width: 70%;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    width: 335px;
    border-color: #cccccc; 
}

th, td {
    border: 1px solid #cccccc;
    padding: 8px;
}

th {
    background-color: #CC33FF;
    font-weight: bold;
    color: white;
}
.btnsubtask {
    background-color: transparent;
    color: #CC33FF;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
}