@page "/home"
@using timeorganizer.Services
@using timeorganizer.Helpers

<div id="container">
    <div>
    <img src="" alt="logo" />
    <h2> Witaj jesteś na stronie głównej aplikacji TimeOrganizer</h2>
    <h3> Wybierz miejsce które Ciebie interesuje</h3>

        <div>  <a href="settings" img src="" alt="Ustawienia" /> <a href="todo" img src="" alt="Zadania" /> </div>

        <div>  <a href="Kontakt" img src="Kontakt" alt="Kontakt" /><a href="" img src="" alt="Kalendarz" /> </div>
        
        @* <div>  <img src="Kontakt" alt="Kontakt" /><img src="" alt="Kalendarz" /> </div> *@

        

    </div>
</div>