@page "/Kalendarz"
@using timeorganizer.Services


<div id="container">

	<h3> Oto Twój kalendarz z zadaniami na konkretne dni</h3>

	<p>Dodajesz zadania poprzez zakładkę Zadania</p>
	

	<a href="home" class="button">Wróć</a>

</div>