@page "/Kontakt"
@using timeorganizer.Service
@using timeorganizer.Helpers

<img src="logoTO.jpg" alt="Logo TO">
<br />
<p>Podaj email na którego chcesz otrzymać odpowiedź</p>
<input />
<br />
<p>Opisz nam problem w aplikacji który napotkałeś</p>
<br />
<input />
<button>Wyślij</button>
<br />

<a href="/" class="button">Wróć</a>
