@page "/Kontakt"
@using timeorganizer.Services
@using timeorganizer.Helpers
@inject ContactService contactService;

<div id="container">
    <h2> Contact Us</h2>
    <p>Podaj email na którego chcesz otrzymać odpowiedź</p>
    <input @bind="@contactService.EmailValue" placeholder="E-mail" />
    <p>Opisz nam problem w aplikacji który napotkałeś</p>
    <input @bind="@contactService.ReportValue" placeholder="Report" id="reportbutton" />
    <button @onclick="@(() => contactService.MessageCommand.Execute(true))">Wyślij</button>
    <a href="home" class="button">Wróć</a>
</div>