@page "/Notatki"
@using timeorganizer.Services
<div id="container">

	<h3> Zanotuj sobie najważniejsze informacje do których chcesz wrócić</h3>

	<p>filtracja po starych notatkach</p>
	<p>Wyświetlanie</p>
	<button>Dodaj nową notatke</button>
	<p>Formularz do dodania nowej notatki </p>

	<a href="home" class="button">Wróć</a>

</div>