@page "/settings"
@using timeorganizer.Service
@using timeorganizer.Helpers

<img src="logoTO.jpg" alt="Logo TO">
<br />
<button>Zmień login</button>
<br />
<button>Zmień hasło</button>
<br />
<button>Usuń konto</button>
<br />

<a href="/" class="button">Wróć</a>

