@page "/settings"
@using timeorganizer.Services
@using timeorganizer.Helpers
<div id="container">
	<h2>Ustawienia</h2>
	<br />
	<button>Zmień login</button>
	<br />
	<button>Zmień hasło</button>
	<br />
	<button>Usuń konto</button>
	<br />

	<a href="home" class="button">Wróć</a>


</div>

