@page "/AddNotes"
@using timeorganizer.Services

@inject NoteService noteService
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <label class="form-label">Podaj tytuł swojej notatki</label>
            <input class="form-control" @bind="@noteService.AddNotes.Title" placeholder="Np. Ważne informacje" />

            <label class="form-label mt-3">Treść notatki</label>
            <textarea class="form-control" @bind="@noteService.AddNotes.Content" placeholder="Dodaj treść notatki"></textarea>

            <button class="btn btn-primary mt-3" @onclick="@Add">Dodaj notatkę</button>
            <button class="btn btn-primary mt-3" @onclick="@Back">Powrót</button>
        </div>
    </div>
</div>

@code {
   
    private void Back()
    {
        NavigationManager.NavigateTo("/Notatki");
    }
    private async void Add()
    {
        await noteService.AddNotes.AddNote();
        await noteService.ShowNotesTitle.GetNotes();
        NavigationManager.NavigateTo("/Notatki");
    }
}
