@inherits LayoutComponentBase
<div class="page">
   
    <main>

        <NavMenu />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<link href="~/css/app.css" rel="stylesheet" /> @* odnośnik do css gdzie jest kolor tła *@