@inherits LayoutComponentBase
<head>
    <!-- code omitted -->
    <base href="~/settings" />

</head>
<div class="page">
  
    <main>

        <NavMenuLogged />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{

}
